body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

header, footer{
    color: white;
    background-color: #28242c;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 300%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}

#nav-bar{
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar a{
    margin-bottom: 0.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-size: large;
    color: white;
    user-select: none;
    text-decoration: none;
}

#nav-bar h2{
    margin: 0;
    font-weight: lighter;
}

#home-info-container p{
    margin-left: 1%;
    font-size: 150%;
    font-family: "Poppins";
}

#home-video-container, #audio-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#links-container{
    margin-right: 22.5%;
}

.links{
    width: 45px;
}

#favorites-title{
    margin-left: 0.5%;
    margin-bottom: 0;
    font-size: 175%;
}

#hobbies{
    width: 100%;
}

td{
    text-align: center;
    width: 33.33%;
}

td h3{
    font-size: x-large;
    margin: 2%;
}

td p{
    font-size: large;
    font-family: "Poppins";
}

td img{
    width: 600px;
}

#book-row img, #anime-row img{
    width: 300px;
}

#skills-description{
    margin: 1%;
}

#project{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gradecalculator-desc{
    width: 40%;
    font-size: large;
}

#forecastly-desc{
    width: 70%;
    font-size: large;
}

#forecastly{
    width: 95%;
}

#spots-title{
    margin: 1%;
    font-size: x-large;
}

ol{
    font-size: large;
}

#statueofliberty{
    width: 730px;
}