body{
    margin: 0;
    padding: 0;
}

header{
    color: white;
    background-color: #28242c;
}

#title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 400%;
    margin: 1.5%;
}

#nav-bar{
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar a{
    margin-bottom: 1%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-size: xx-large;
    color: white;
    user-select: none;
    text-decoration: none;
}