body{
    margin: 0;
    padding: 0;
}

header{
    color: white;
    background-color: #28242c;
}

#title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    margin: 0;
    padding: 0;
}